<hr />

<div class="row footer">
    <div class="col-12 col-md-8 offset-md-2 p-4">
        <div class="row">
            <div class="col-12">
                <h5> Logo </h5>
            </div>
            <div class="col-6 col-lg-3">
                <h5> Socials </h5>
                <div class="socials">
                    <span class="footer-icon">
                        <i class="bi bi-whatsapp"></i>
                    </span>
                    <span class="footer-text">
                        <a href="https://api.whatsapp.com/send?phone=+2348035058288">Whatsapp</a>
                    </span>
                </div>
                <div class="socials">
                    <span class="footer-icon">
                        <i class="bi bi-instagram"></i>
                    </span>
                    <span class="footer-text">
                        <a class="d-lg-none" href="instagram://user?username=bimota.ent">Instagram</a>
                        <a class="d-none d-lg-inline-block" target="_" href="http://instagram.com/_u/bimota.ent/">Instagram</a>
                    </span>
                </div>
                <div class="socials">
                    <span class="footer-icon">
                        <i class="bi bi-facebook"></i>
                    </span>
                    <span class="footer-text">
                        <span class="footer-text">
                        <a target="_" href="https://web.facebook.com/profile.php?id=100063557712038">Facebook</a>
                    </span>
                    </span>
                </div>
                 <div class="socials">
                    <span class="footer-icon">
                        <i class="bi bi-twitter"></i>
                    </span>
                    <span class="footer-text">
                        Comming soon
                    </span>
                </div>
                <div class="socials">
                    <span class="footer-icon">
                        <i class="bi bi-linkedin"></i>
                    </span>
                    <span class="footer-text">
                        Comming soon
                    </span>
                </div>
            </div>
            
            <div class="col-6 col-lg-3">
                
                <h5> Contact </h5>
                <div class="socials">
                    <span class="footer-icon">
                        <i class="bi bi-building"></i>
                    </span>
                    <span class="footer-text">
                        2, Atunrase street, off Ishaga road, Surulere, Lagos, Nigeria.
                    </span>
                </div>
                
                <div class="socials">
                    <span class="footer-icon">
                        <i class="bi bi-telephone"></i>
                    </span>
                    <span class="footer-text">
                        <a href="tel:+234 803 505 8288">+234 803 505 8288</a>
                    </span>
                </div>
                
                <div class="socials">
                    <span class="footer-icon">
                        <i class="bi bi-telephone"></i>
                    </span>
                    <span class="footer-text">
                        <a href="tel:+234 809 339 8331">+234 809 339 8331</a>
                    </span>
                </div>

                <div class="socials">
                    <span class="footer-icon">
                       <i class="bi bi-envelope"></i>
                    </span>
                    <span class="footer-text">
                        <a href="mailto:support@bimota.com.ng">support@bimota.com.ng</a>
                    </span>
                </div>
            </div>
            
            <div class="col-6 col-lg-3">
                <h5> About </h5>
                <div class="socials">
                    <span class="footer-icon">
                       <i class="bi bi-file-person-fill"></i>
                    </span>
                    <span class="footer-text">
                        BIMOTA FASHION is a fashion (tailoring) company focused on Nigerian and local attires for every gender and even unisex attires. We've been in the business longer than we care to remember, but have always delivered quality stuff, which is why our customer base continues to grow every now and then. A trial would definitely not put you to shame :D
                    </span>
                </div>
            </div>
            
            <div class="col-6 col-lg-3">
                <h5> Major Categories </h5>
                 <div class="socials">
                    <span class="footer-text">
                        <a class="{% if request.path == '/clothes/male' %}active{% endif %}" href="/clothes/male">Men's Wears</a>
                    </span>
                </div>
                
                <div class="socials">
                    <span class="footer-text">
                        <a class="{% if request.path == '/clothes/female' %}active{% endif %}" href="/clothes/female">Women's Wears</a>
                    </span>
                </div>
                <div class="socials">
                    <span class="footer-text">
                        <a class="{% if request.path == '/clothes/unisex' %}active{% endif %}" href="/clothes/unisex">UNISEX</a>
                    </span>
                </div>
            </div>
        </div
    </div
</div>