<hr />

<div class="row footer">
    <div class="col-12 col-md-8 offset-md-2 p-4">
        <div class="row">
            <div class="col-12">
                <h5> Logo </h5>
            </div>
            <div class="col-6 col-lg-3">
                <h5> Socials </h5>
                <div class="socials">
                    <span class="footer-icon">
                        <i class="bi bi-whatsapp"></i>
                    </span>
                    <span class="footer-text">
                        Whatsapp
                    </span>
                </div>
                <div class="socials">
                    <span class="footer-icon">
                        <i class="bi bi-instagram"></i>
                    </span>
                    <span class="footer-text">
                        Instagram
                    </span>
                </div>
                <div class="socials">
                    <span class="footer-icon">
                        <i class="bi bi-facebook"></i>
                    </span>
                    <span class="footer-text">
                        Facebook
                    </span>
                </div>
                 <div class="socials">
                    <span class="footer-icon">
                        <i class="bi bi-twitter"></i>
                    </span>
                    <span class="footer-text">
                        Twitter
                    </span>
                </div>
                <div class="socials">
                    <span class="footer-icon">
                        <i class="bi bi-linkedin"></i>
                    </span>
                    <span class="footer-text">
                        LinkedIn
                    </span>
                </div>
            </div>
            
            <div class="col-6 col-lg-3">
                
                <h5> Contact </h5>
                <div class="socials">
                    <span class="footer-icon">
                        <i class="bi bi-building"></i>
                    </span>
                    <span class="footer-text">
                        2, Atunrase street, off Ishaga road, Surulere, Lagos, Nigeria.
                    </span>
                </div>
                
                <div class="socials">
                    <span class="footer-icon">
                        <i class="bi bi-telephone"></i>
                    </span>
                    <span class="footer-text">
                        +234 803 505 8288
                    </span>
                </div>
                
                <div class="socials">
                    <span class="footer-icon">
                        <i class="bi bi-telephone"></i>
                    </span>
                    <span class="footer-text">
                        +234 803 505 8288
                    </span>
                </div>

                <div class="socials">
                    <span class="footer-icon">
                       <i class="bi bi-envelope"></i>
                    </span>
                    <span class="footer-text">
                        bimotafashion23@gmail.com
                    </span>
                </div>
            </div>
            
            <div class="col-6 col-lg-3">
                <h5> About </h5>
                <div class="socials">
                    <span class="footer-icon">
                       <i class="bi bi-file-person-fill"></i>
                    </span>
                    <span class="footer-text">
                        Check out our Latest Ankara peplum styles tops and skirt and blouse styles that can give you a perfect figure and shape. peplum styles have been the dream...
                    </span>
                </div>
            </div>
            
            <div class="col-6 col-lg-3">
                <h5> Major Categories </h5>
                 <div class="socials">
                    <span class="footer-text">
                        <a class="{% if request.path == '/clothes/male' %}active{% endif %}" href="/clothes/male">Men's Wears</a>
                    </span>
                </div>
                
                <div class="socials">
                    <span class="footer-text">
                        <a class="{% if request.path == '/clothes/female' %}active{% endif %}" href="/clothes/female">Women's Wears</a>
                    </span>
                </div>
                <div class="socials">
                    <span class="footer-text">
                        <a class="{% if request.path == '/clothes/unisex' %}active{% endif %}" href="/clothes/unisex">UNISEX</a>
                    </span>
                </div>
            </div>
        </div
    </div
</div>